<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Xunit.ScenarioReporting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Xunit.ScenarioReporting.Properties.Settings>
            <setting name="TargetHtmlReportFile" serializeAs="String">
                <value>C:\Temp\Report.html</value>
            </setting>
            <setting name="TargetMarkdownReportFile" serializeAs="String">
                <value>C:\Temp\Report.md</value>
            </setting>
            <setting name="GenerateHtmlReport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateMarkdownReport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TargetXMLReport" serializeAs="String">
                <value>C:\Temp\Report.xml</value>
            </setting>
        </Xunit.ScenarioReporting.Properties.Settings>
    </applicationSettings>
</configuration>